@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "_variables";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: $greyLight;
}

#sideMenu {
  background: $purpleLight;
  /* max-width: 280px; */
  width: 280px;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;

  nav {
    padding-top: 100px;
    a {
      display: block;
      color: $greyDark;
      text-decoration: none;
      padding: 15px 30px;
      font-weight: 300;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: $purpleDark;
        border-left: 5px solid $greenNeon;
        padding: 15px 30px 15px 25px;

        .fa {
          color: $greenNeon;
        }
      }

      .fa {
        color: $greyDark;
        font-size: 1.4rem;
        margin-right: .8rem;
        display: inline-block;
        width: 30px;
        position: relative;
        top: 2px;
      }


      &.active {
        background: $purpleDark;
        border-left: 5px solid $greenNeon;
        padding: 15px 30px 15px 25px;
        
        .fa {
          color: $greenNeon;
        }
      }
    }
  }
}

header {
  margin-left: 280px;
  padding: 10px;
  background: #ffffff;

  .search-area {
    display: inline-block;
    width: 50%;
    .fa {
      color: $greyDark
    }

    input[type="text"] {
      background: #fff;
      border: none;
      font-size: 1.3rem;
      color: $greenNeon;
      padding: 10px;
      font-weight: 100;
      width: 90%;
      transition: all .5s ease-in-out;
      
      &.hover {
        background: $greyLight;
      }
    }
  }

  .user-area {
    display: inline-block;
    float: right;
    padding: 10px;
    a {
      color: #1b1b1b;
      display: inline-block;
      padding-right: 20px;
      text-decoration: none;
      vertical-align: top;
      height: 30px;
      
      &.add {
        font-size: 1rem;
        font-weight: 500;
        padding-top: 10px;
      }

      &.notification {
        position: relative;
        font-size: 20px;
        padding-top: 5px;

        .circle {
          text-align: center;
          font-size: 11px;
          color: white;
          background: $purpleLight;
          border-radius: 50%;
          width: 12px;
          height: 12px;
          display: inline-block;
          position: absolute;
          top: 3px;
          left: 7px;
        }
      }
      .user-img {
        background: url("https://randomuser.me/api/portraits/men/32.jpg") no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 10px;
      }
      .fa-caret-down {
        position: relative;
        top: -8;
      }
    }
  }
}

input:focus,
textarea:focus,
input:active {
  background: $greyLight;
  outline: none;
}